.dropdown-toggle{
    cursor:pointer
}

.dropdown-item{
    cursor:pointer
}

img {
    height: 30xp;
    width:30px;
    border:2px solid white;
    display: inline;
}

.navbar{
    height: 50px;

}